In [26]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

23/04/17 19:21:30 WARN Utils: Your hostname, Aarishs-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.2 instead (on interface en0)
23/04/17 19:21:30 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/04/17 19:21:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

In [6]:
df_pyspark = spark.read.option('header','true').csv('test.csv',inferSchema = True)

In [7]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [9]:
df_pyspark = spark.read.csv('test.csv',header=True,inferSchema=True)
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|   krish| 31|        10|
|sudanshu| 30|         8|
|   sunny| 29|         4|
+--------+---+----------+

In [10]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [11]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [14]:
df_pyspark.select('Name').show()

+--------+
|    Name|
+--------+
|   krish|
|sudanshu|
|   sunny|
+--------+

In [15]:
df_pyspark.select(['Name','Experience']).show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|   krish|        10|
|sudanshu|         8|
|   sunny|         4|
+--------+----------+

In [16]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [17]:
df_pyspark.describe().show()

+-------+-----+----+-----------------+
|summary| Name| Age|       Experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| null|30.0|7.333333333333333|
| stddev| null| 1.0|3.055050463303893|
|    min|krish|  29|                4|
|    max|sunny|  31|               10|
+-------+-----+----+-----------------+

In [21]:
# Adding the Column
df_pyspark = df_pyspark.withColumn('Experience after 2 years',df_pyspark['Experience']+2)

In [22]:
df_pyspark.show()

+--------+---+----------+------------------------+
|    Name|Age|Experience|Experience after 2 years|
+--------+---+----------+------------------------+
|   krish| 31|        10|                      12|
|sudanshu| 30|         8|                      10|
|   sunny| 29|         4|                       6|
+--------+---+----------+------------------------+

In [23]:
# Droping the column
df_pyspark = df_pyspark.drop('Experience after 2 years')

In [24]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|   krish| 31|        10|
|sudanshu| 30|         8|
|   sunny| 29|         4|
+--------+---+----------+

In [25]:
# Rename the Column
df_pyspark.withColumnRenamed('Name','New Name ').show()

+---------+---+----------+
|New Name |Age|Experience|
+---------+---+----------+
|    krish| 31|        10|
| sudanshu| 30|         8|
|    sunny| 29|         4|
+---------+---+----------+